---
import CardAbout from './CardAbout.astro';
import { getCollection } from 'astro:content';
import Modal from './Modal.astro';

const allSupport = await getCollection('support', ({ data }) => {
    return data.reward === true;
});
---

<section class="container about">
    <h2>About this project</h2>
    <p>
        The Mastercraft Bamboo Monitor Riser is a sturdy and stylish platform
        that elevates your screen to a more comfortable viewing height. Placing
        your monitor at eye level has the potential to improve your posture and
        make you more comfortable while at work, helping you stay focused on the
        task at hand.
    </p>
    <p>
        Featuring artisan craftsmanship, the simplicity of design creates extra
        desk space below your computer to allow notepads, pens, and USB sticks
        to be stored under the stand.
    </p>

    {allSupport.map((card) => <CardAbout data={card.data} />)}

    <Modal />
</section>

<style>
    section {
        padding: 2rem 1rem;
        background: white;
        border-radius: 10px;
        max-width: 680px;
        margin-bottom: 5rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    p {
        color: var(--dark-gray);
    }

    section p {
        margin-block: 2rem;
    }
</style>
