---
import '../style/global.css';
import Header from '../components/header/Header.astro';
import CardTitle from '../components/CardTitle.astro';
import CardDetail from '../components/CardDetail.astro';
import About from '../components/about/About.astro';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>crowd funding</title>
    </head>
    <body>
        <Header />
        <CardTitle />
        <CardDetail />
        <About />
        <script src="../scripts/main.ts"></script>
    </body>
</html>
