---
import { Image } from 'astro:assets';
import logo from '../../assets/logo.svg';
import NavItems from './NavItems.astro';
import hamburger from '../../assets/icon-hamburger.svg';
import closeMenu from '../../assets/icon-close-menu.svg';
---

<nav class="">
    <div class="container flex">
        <a href="/" class="icon">
            <Image src={logo} alt="logo name" />
        </a>
        <button
            class="hamburger"
            aria-controls="nav-items"
            aria-expanded="false"
        >
            <Image src={hamburger} alt="hamburger icon" />
        </button>
        <NavItems />
    </div>
</nav>

<style define:vars={{ menu: `url(${closeMenu.src})` }}>
    nav {
        padding-block: 2rem;
        position: fixed;
        left: 0;
        width: 100%;
        z-index: 10;
    }

    .nav-scrolled {
        background-color: #525151;
    }

    button {
        border: none;
        background: transparent;
        width: 28px;
        height: 25px;
        display: none;
    }

    button img {
        width: 100%;
    }

    @media (max-width: 800px) {
        button {
            display: inline-block;
        }

        .hamburger[aria-expanded='true'] > img {
            content: var(--menu);
            height: 100%;
        }
    }
</style>
