---

---

<ul class="flex nav-items" id="nav-items">
    <li><a href="">About</a></li>
    <li><a href="">Discover</a></li>
    <li><a href="">Get Started</a></li>
</ul>

<style>
    .flex {
        gap: 2rem;
    }

    a {
        color: white;
        font-weight: 400;
        font-size: 20px;
    }

    @media (max-width: 800px) {
        .flex {
            gap: 0;
        }

        ul {
            display: none;
            position: absolute;
            top: 6rem;
            left: 0;
            width: 100%;
            background-color: white;
            flex-direction: column;
            align-items: start;
            text-align: start;
            border-radius: 10px;
            z-index: 10;
        }

        li {
            border-bottom: 1px solid rgb(187, 187, 187);
            padding: 1.5rem 2rem;
            width: 100%;
        }

        a {
            color: black;
            font-weight: 600;
        }
    }
</style>
